{% extends 'authentification/base.html' %}

{% block title %}Mon flux - LITReview{% endblock %}
{% block h1_title %}Mon flux{% endblock %}

{% block content %}
        <div class="content">
            <div class="feed-container">
                <div class="feed-column">
                    <h2>Billets</h2>
                {% if ticket_page_obj %}
                    {% for ticket in ticket_page_obj %}
                        <div class="ticket">
                            <h3>{{ ticket.title }}</h3>
                            <p class="p-description">{{ ticket.description }}</p>
                                {% if ticket.image %}
                                    <img src="{{ ticket.image.url }}" alt="image du billet : {{ ticket.title }}" width="100">
                                {% endif %}
                            <p class="date-author">Auteur : {{ ticket.user.username }}</p>
                            <p class="date-author">Créé le : {{ticket.time_created}}</p>
                            <p>
                                <a href="{% url 'ticket_reviews' ticket_id=ticket.id %}" class="sign-up-btn">Voir les critiques</a>
                            </p>
                        </div>
                    {% endfor %}

                    <!-- Pagination pour les billets -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if ticket_page_obj.has_previous %}
                                <a href="?ticket_page=1">« Première</a>
                                <a href="?ticket_page={{ ticket_page_obj.previous_page_number }}">Précédente</a>
                            {% endif %}
                            <span class="current">
                                Page {{ ticket_page_obj.number }} sur {{ ticket_page_obj.paginator.num_pages }}
                            </span>
                            {% if ticket_page_obj.has_next %}
                                <a href="?ticket_page={{ ticket_page_obj.next_page_number }}">Suivante</a>
                                <a href="?ticket_page={{ ticket_page_obj.paginator.num_pages }}">Dernière »</a>
                            {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p>Vide</p>
                    {% endif %}
                </div>
                <div class="feed-column">
                    <h2>Critiques</h2>
                    {% if review_page_obj %}
                        {% for review in review_page_obj %}
                            <div class="review">
                                <h3>{{ review.ticket.title }}</h3>
                                <p class="p-rating-date-author">
                                    <span class="p-rating">{{ review.rating }}/5</span>
                                    <span class="date-author">{{ review.user.username }}</span>
                                    <span class="date-author">{{ review.time_created }}</span>
                                </p>
                                <h4>{{ review.headline }}</h4>
                                <p class="p-description">{{ review.body }}</p>
                                <p>
                                    <a href="{% url 'ticket_reviews' ticket_id=review.ticket.id %}" class="sign-up-btn">Voir les critiques</a>
                                </p>
                            </div>
                        {% endfor %}
                                        <!-- Pagination pour les billets -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if review_page_obj.has_previous %}
                                <a href="?review_page=1">« Première</a>
                                <a href="?review_page={{ review_page_obj.previous_page_number }}">Précédente</a>
                            {% endif %}

                            <span class="current">
                                Page {{ review_page_obj.number }} sur {{ review_page_obj.paginator.num_pages }}
                            </span>

                            {% if review_page_obj.has_next %}
                                <a href="?review_page={{ review_page_obj.next_page_number }}">Suivante</a>
                                <a href="?review_page={{ review_page_obj.paginator.num_pages }}">Dernière »</a>
                            {% endif %}
                            </span>
                        </div>
                        {% else %}
                        <p>Vide</p>
                        {% endif %}
                </div>
            </div>
        </div>
        <div>
    </div>
{% endblock %}