{% extends 'authentification/base.html' %}

{% block title %}Mes abonnements - LITReview{% endblock %}
{% block h1_title %}Mes abonnements{% endblock %}
{% block content %}
        <div class="content">
            <div class="right-session">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p style="color: rgba(97,0,0,1);">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>Les utilisateurs suivis</h2>
                {% if followed_users %}
                    <ul>
                        {% for user in followed_users %}
                            <li>
                                <p>{{user.followed_user.username}}
                                    <a href="{% url 'unfollow_user' user.followed_user.id %}" class="sign-up-btn">Se désabonner</a>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <p>Aucun utilisateur suivi</p>
                {% endif %}
            </div>
        </div>
        <div>
    </div>
{% endblock %}