{% extends 'authentification/base.html' %}

{% block title %}Supprimer une critique - LITReview{% endblock %}
{% block h1_title %}Supprimer une critique{% endblock %}
{% block content %}
        <div class="content">
            <div class="right-session">
                <p>Êtes-vous sûr de vouloir supprimer la critique "{{review.headline}}" ?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit", class="login-btn">supprimer</button>
                    <a class="sign-up-btn" href="{% url 'review_list' %}">Annuler</a>
                </form>
            </div>
        </div>
        <!--<a href = "{% url 'logout' %}">Se déconnecter</a>-->
{% endblock %}