{% extends 'authentification/base.html' %}

{% block title %}Mes critiques - LITReview{% endblock %}
{% block h1_title %}Mes critiques{% endblock %}
{% block content %}
<a href="{% url 'review_create' %}" class="sign-up-btn">Ajouter une critique</a>
        <div class="content">
            <div class="right-session">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p style="color: rgba(97,0,0,1);">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>Liste de mes critiques</h2>
                {% if reviews %}
                        {% for review in reviews %}
                            <div class="review">
                                <h3>{{review.ticket.title}}</h3>
                                <p class="p-rating-date-author">
                                    <span class="p-rating">{{ review.rating }}/5</span>
                                    <span class="date-author">{{ review.time_created }}</span>
                                </p>
                                <h4>{{ review.headline }}</h4>
                                <p class="p-description">{{ review.body }}</p>
                                <p>
                                    <a href="{% url 'review_update' review.id %}" class="sign-up-btn">Modifier</a>
                                    <a href="{% url 'review_delete' review.id %}" class="sign-up-btn">Supprimer</a>
                                </p>
                                </div>
                        {% endfor %}
                                <!-- Pagination pour les billets -->
                        <div class="pagination">
                            <span class="step-links">
                            {% if reviews.has_previous %}
                                {% if reviews.previous_page_number > 1 %}
                                <a href="?review_page=1">« Première</a>
                                {% endif %}
                                <a href="?review_page={{ reviews.previous_page_number }}">Précédente</a>
                            {% endif %}

                            <span class="current">
                                Page {{ reviews.number }} sur {{ reviews.paginator.num_pages }}
                            </span>

                            {% if reviews.has_next %}
                                {% if reviews.next_page_number != reviews.paginator.num_pages %}
                                <a href="?review_page={{ reviews.next_page_number }}">Suivante</a>
                                {% endif %}
                                <a href="?review_page={{ reviews.paginator.num_pages }}">Dernière »</a>
                            {% endif %}
                            </span>
                        </div>
                {% else %}
                <p>Vous n'avez aucune critiques</p>
                {% endif %}
            </div>
        </div>
        <div>
    </div>
{% endblock %}