<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer un billet - LITRevu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentification/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">Supprimer un billet</div>
        <div class="logo-container">
            <div class="logo">LITRevu</div>
        </div>
        <div class="content">
            <div class="right-session">
                <p>Êtes-vous sûr de vouloir supprimer le billet "{{ticket.title}}" ?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit", class="login-btn">supprimer</button>
                    <a class="sign-up-btn" href="{% url 'ticket_list' %}">Annuler</a>
                </form>
            </div>
        </div>
        <a href = "{% url 'logout' %}">Se déconnecter</a>
    </div>

</body>
</html>