{% extends 'authentification/base.html' %}

{% block title %}Mes billets - LITReview{% endblock %}
{% block h1_title %}Mes billets{% endblock %}
{% block content %}
        <div class="content">
            <div class="right-session">
                <a href="{% url 'ticket_create' %}" class="sign-up-btn">
                    Ajouter un billet
                </a>
                <a href="{% url 'ticket_and_with_review' %}" class="sign-up-btn">
                    Ajouter un billet accompagné d'une critique
                </a>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p style="color: rgba(97,0,0,1);">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>Liste des billets</h2>
                {% if tickets %}
                    <ul>
                        {% for ticket in tickets %}
                            <li>
                                <h3>{{ ticket.title }}</h3>
                                <p>{{ ticket.description }}</p>
                                <p>Créé le : {{ticket.time_created}}</p>
                                <a href="{% url 'ticket_reviews' ticket_id=ticket.id %}" class="sign-up-btn">Voir les critiques</a>
                                <a href="{% url 'ticket_update' ticket.id %}" class="sign-up-btn">Modifier</a>
                                <a href="{% url 'ticket_delete' ticket.id %}" class="sign-up-btn">Supprimer</a>
                                <br><br>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <p>Vous n'avez aucun billet</p>
                {% endif %}
            </div>
        </div>
{% endblock %}

