{% extends 'authentification/base.html' %}

{% block title %}Critiques pour {{ ticket.title }} - LITReview{% endblock %}

{% block content %}
        <div class="content">
            <div class="right-session">
                <h2>{{ ticket.title }}</h2>
                 <p>{{ ticket.description }}</p>
                <p>Auteur : {{ ticket.user.username }}</p>
                <p>Créé le : {{ticket.time_created}}</p>
                <h3>Critiques</h3>
                {% if reviews %}
                    <ul>
                        {% for review in reviews %}
                        <li>
                            <p>Note : {{ review.rating}}/5</p>
                            <p>Titre : {{ review.headline }}</p>
                            <p>{{ review.body }}</p>
                            <p>Auteur : {{ review.user.username }}</p>
                            <p>{{ review.time_created }}</p>
                            <hr>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <p>Aucune critique pour ce billet.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}