{% extends 'authentification/base.html' %}

{% block title %}Supprimer un billet - LITReview{% endblock %}
{% block h1_title %}Supprimer un billet{% endblock %}
{% block content %}
        <div class="content">
            <div class="right-session">
                <p>Êtes-vous sûr de vouloir supprimer le billet "{{ticket.title}}" ?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit", class="sign-up-btn">supprimer</button>
                    <a class="sign-up-btn" href="{% url 'ticket_list' %}">Annuler</a>
                </form>
            </div>
        </div>
{% endblock %}