{% extends 'authentification/base.html' %}

{% block title %}Utilisateurs à suivre - LITReview{% endblock %}
{% block h1_title %}Utilisateurs à suivre{% endblock %}
{% block content %}
        <div class="content">
            <div class="right-session">
                <a href="{% url 'followed_users_list' %}" class="sign-up-btn">
                    Voir mes abonnements
                </a>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p style="color: rgba(97,0,0,1);">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>Liste des utilisateurs </h2>
                {% if users %}
                    <ul>
                        {% for user in users %}
                            <li>
                                <p>
                                    {{ user.username }}
                                    <a href="{% url 'follow_user' user.id %}" class="sign-up-btn">Suivre</a>
                                </p>
                                <br><br>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                <p>Il n'y a aucun n'autre utilisateur</p>
                {% endif %}
            </div>
        </div>
{% endblock %}