<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITReview{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentification/styles.css' %}">
</head>
<body>
<!-- Header commun à toutes les pages -->
<div class="container">
    <div class="header">
        <div class="header-nav">
            <a href="{% url 'home' %}" class="nav-link">Accueil</a>
            <a href="{% url 'feed' %}" class="nav-link">Mon flux</a>
            <a href="{% url 'ticket_list' %}" class="nav-link">Mes billets</a>
            <a href="{% url 'review_list' %}" class="nav-link">Mes critiques</a>
            <a href="{% url 'user_list' %}" class="nav-link">Utilisateurs</a>
        </div>
        <!-- Nom de l'utilisateur (à droite) -->
        <div class="header-user">
            {% if user.is_authenticated %}
            <span>Bonjour, {{ user.username }} !</span>
            <a href="{% url 'logout' %}" class="nav-link">Déconnexion</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Connexion</a>
            <a href="{% url 'signup' %}" class="nav-link">S'inscrire</a>
            {% endif %}
        </div>
    </div>
    <div class="logo-container">
        <div class="logo">LITReview</div>
    </div>

    <!-- Contenu spécifique à chaque page -->
    {% block content %}{% endblock %}
</div>
</body>
</html>