<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITReview{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentification/styles.css' %}">
    <script src="{% static 'authentification/base.js' %}" defer></script>
</head>
<body>
<!-- Header commun à toutes les pages -->
<div class="container">
    <div class="header">
        <!-- Icône du menu hamburger (visible uniquement sur mobile) -->
        <div class="hamburger-menu">
            <button id="hamburger-btn" aria-label="Menu">
                ☰
            </button>
        </div>
        <div class="header-nav">
            <nav id="id-header-nav" aria-label="Navigation principale">
            <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Accueil</a>
            <a href="{% url 'feed' %}" class="nav-link {% if request.resolver_match.url_name == 'feed' %}active{% endif %}">Mon flux</a>
            <a href="{% url 'ticket_list' %}" class="nav-link {% if request.resolver_match.url_name == 'ticket_list' %}active{% endif %}">Mes billets</a>
            <a href="{% url 'review_list' %}" class="nav-link {% if request.resolver_match.url_name == 'review_list' %}active{% endif %}">Mes critiques</a>
            <a href="{% url 'user_list' %}" class="nav-link {% if request.resolver_match.url_name == 'user_list' %}active{% endif %}">Utilisateurs</a>
            </nav>
        </div>

        <!-- Nom de l'utilisateur (à droite) -->
        <div class="header-user">
            {% if user.is_authenticated %}
            <span>Bonjour, {{ user.username }} !</span>
            <a href="{% url 'logout' %}" class="nav-link">Déconnexion</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Connexion</a>
            <a href="{% url 'signup' %}" class="nav-link">S'inscrire</a>
            {% endif %}
        </div>
    </div>
    <main id="id-main-container" role="main">
    <div class="logo-container">
        <img src="{% static 'images/noname_13-a-book-2160539_1920_v1.png' %}" alt="Logo LITRevu" class="logo-img">
        <!--<div class="logo">LITReview</div>-->
        <header role="banner">
            <div class="header_in_main">
                <!--<div class="header_title">Page d'accueil</div>-->
                <h1 class="header_in_main_title">{% block h1_title %}{% endblock %}</h1>
            </div>
        </header>
    </div>

    <!-- Contenu spécifique à chaque page -->
    {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>